.cash-card-ctn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 250px;
    border: 2px solid ;
    margin: 20px;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    border-radius: 12px;
    background-color: #fff;
    overflow: hidden;
}

.cash-card-ctn .prod-img{
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        height: 150px;
        width: 100%;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
.cash-card-ctn img{
            width: 100%;
            height: 100%;
            transition: transform 0.3s ease;
            transform-origin: center;
        }
        .cash-card-ctn .zoom{
            transform: scale(1.2);
        }
        .cash-card-ctn .img-overlay{
            position: absolute;
            top:0;
            left:0;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #0000007a;
            forced-color-adjust: #ffffff;
            width: 100%;
            height: 100%;
        }
    .cash-card-ctn .view-btn{
                border: 2px solid #ffffff;
                width: 150px;
                padding: 5px;
                border-radius: 8px;
                background-color: transparent;
                cursor: pointer;
            }
    .cash-card-ctn .view-btn:hover{
                    border: 1px solid #ffffff;
                    background-color: #ffffff6e;
                }
        .cash-card-ctn .img-overlay .prod-status{
            position: absolute;
            top: 5px;
            right: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 20px;
            width: 100px;
            margin:0 5px;
            padding: 5px;
            border-radius: 5px;
            box-shadow: 0, 0, 0.5, rgba(0, 0, 0, 0.1);
        }
        .prod-status .status{
            font-size: 0.8rem;
            margin: 0;
            padding: 0;
            color: #fff;
            font-weight: bold;
        }
    .cash-card-ctn .prod-infos{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        width: 100%;
        height: 180px;
    }

    .cash-card-ctn .prod-title{
            width: 100%;
            height: 50px;
            margin: 0;
        }
        .cash-card-ctn .product-title{
            width: 100%;
            background-color: #007bff;
            color: #fff;
            text-align: center;
            vertical-align: middle;
            padding: 10px 0;
            margin: 0;
            font-size: 1.1rem;
            box-sizing: border-box;
        }
        .cash-card-ctn .price-data{
            display: flex;
            justify-content: center;
            align-items: center;
        }
    .cash-card-ctn .price{
                border: 2px solid green;
                width: 80px;
                height: 15px;
                font-weight: bold;
                font-size: 0.7rem;
                padding: 5px;
                border-radius: 8px;
                margin-top: 1px;
                margin-bottom: 5px;
                color: #2c0f4d;
            }
            .cash-card-ctn .reduction-rate{
                border: 2px solid rgb(255, 60, 0);
                width: 100px;
                height: 15px;
                font-weight: bold;
                font-size: 0.7rem;
                padding: 5px;
                border-radius: 8px;
                margin-top: 1px;
                margin-bottom: 5px;
                margin-left: 5px;
            }
            .cash-card-ctn .green-submit-btn{
                background-color: #6b2ff7;
                margin: 5px;
                padding: 5px;
                border: none;
                width: 150px;
                height: 40px;
                border-radius: 8px;
                cursor: pointer;
            }
