--
-- PostgreSQL database dump mis à jour pour OpenTask ERP v2.0
--

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';
SET default_table_access_method = heap;

-------------------------------------------------------------------------------
-- 1. TABLES DE BASE (SANS DÉPENDANCES COMPLEXES)
-------------------------------------------------------------------------------

-- Table Utilisateur (Modifiée pour inclure les refs Entreprise/Département)
CREATE TABLE public."user" (
    id SERIAL PRIMARY KEY,
    userref character varying(50) NOT NULL UNIQUE,
    firstname character varying(100) NOT NULL,
    lastname character varying(100) NOT NULL,
    email character varying(255) NOT NULL UNIQUE,
    password character varying(255) NOT NULL,
    country character varying(100),
    city character varying(100),
    profilephotourl text,
    privilege character varying(50) DEFAULT 'user'::character varying,
    companyref character varying(50), -- Nouveau : lien vers l'entreprise
    deptref character varying(50),    -- Nouveau : lien vers le département
    createdat timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

-- Table Entreprise (Nouvelle)
CREATE TABLE public.company (
    id SERIAL PRIMARY KEY,
    companyref character varying(50) NOT NULL UNIQUE,
    companyname character varying(255) NOT NULL,
    logo_url text,
    owner_ref character varying(50) NOT NULL, -- Créateur/Propriétaire
    createdat timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

-- Table Département (Nouvelle)
CREATE TABLE public.department (
    id SERIAL PRIMARY KEY,
    deptref character varying(50) NOT NULL UNIQUE,
    deptname character varying(100) NOT NULL,
    companyref character varying(50) NOT NULL,
    manager_ref character varying(50), -- Manager du département
    createdat timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

-------------------------------------------------------------------------------
-- 2. TABLES LIÉES AUX PROJETS (HÉRITÉES DE LA V1)
-------------------------------------------------------------------------------

-- Table Projet (Modifiée pour inclure le lien Département)
CREATE TABLE public.project (
    id SERIAL PRIMARY KEY,
    projectref character varying(50) NOT NULL UNIQUE,
    projectname character varying(255) NOT NULL,
    userref character varying(50) NOT NULL,
    deptref character varying(50), -- Nouveau : lien vers le département gestionnaire
    projectdesc text,
    projecttype character varying(100),
    projectcible text,
    projectstart date,
    createdat timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

-- Table Tâche
CREATE TABLE public.task (
    id SERIAL PRIMARY KEY,
    taskref character varying(50) NOT NULL UNIQUE,
    taskname character varying(255) NOT NULL,
    startdate date,
    enddate date,
    status character varying(50) DEFAULT 'ongoing'::character varying,
    projectref character varying(50) NOT NULL,
    createdat timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

-- Table Équipe
CREATE TABLE public.team (
    id SERIAL PRIMARY KEY,
    teamref character varying(50) NOT NULL UNIQUE,
    projectref character varying(50) NOT NULL,
    createdat timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);

-- Table Collaborateur
CREATE TABLE public.collaborator (
    id SERIAL PRIMARY KEY,
    collabref character varying(50) NOT NULL UNIQUE,
    userref character varying(50) NOT NULL,
    teamref character varying(50) NOT NULL,
    role character varying(100)
);

-- Table Assignations
CREATE TABLE public.assignments (
    assref character varying(255) NOT NULL PRIMARY KEY,
    collabref character varying(255) NOT NULL,
    taskref character varying(255) NOT NULL,
    dateassigned timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    userref character varying(50)
);

-- Table Notifications
CREATE TABLE public.notifications (
    notifref character varying(50) NOT NULL PRIMARY KEY,
    title character varying(255) NOT NULL,
    content text NOT NULL,
    isread boolean DEFAULT false,
    userref character varying(50) NOT NULL,
    createdat timestamp with time zone DEFAULT CURRENT_TIMESTAMP
);

-- Table Transactions Financières
CREATE TABLE public.finance_transactions (
    id SERIAL PRIMARY KEY,
    transaction_ref character varying(50) NOT NULL UNIQUE,
    projectref character varying(50) NOT NULL,
    companyref character varying(50) NOT NULL,
    amount DECIMAL(12, 2) NOT NULL,
    label character varying(255) NOT NULL,
    category character varying(50), -- 'expense', 'budget_allocation'
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    created_by character varying(50),

    CONSTRAINT fk_finance_project FOREIGN KEY (projectref) REFERENCES public.project(projectref) ON DELETE CASCADE,
    CONSTRAINT fk_finance_company FOREIGN KEY (companyref) REFERENCES public.company(companyref) ON DELETE CASCADE
);

-- Table Client 
CREATE TABLE public.client (
    id SERIAL PRIMARY KEY,
    clientref character varying(50) NOT NULL UNIQUE,
    companyname character varying(255) NOT NULL,
    contact_name character varying(255),
    contact_email character varying(255),
    contact_phone character varying(50),
    address text,
    companyref_owner character varying(50) NOT NULL, -- L'entreprise propriétaire de ce contact
    createdat timestamp without time zone DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT fk_client_company FOREIGN KEY (companyref_owner) 
        REFERENCES public.company(companyref) ON DELETE CASCADE
);

-- Liaison optionnelle : lier un projet à un client
ALTER TABLE public.project 
ADD COLUMN clientref character varying(50),
ADD CONSTRAINT fk_project_client FOREIGN KEY (clientref) REFERENCES public.client(clientref) ON DELETE SET NULL;

-- Table Documents
CREATE TABLE public.documents (
    id SERIAL PRIMARY KEY,
    doc_ref character varying(50) NOT NULL UNIQUE,
    file_name character varying(255) NOT NULL,
    file_path text NOT NULL, -- Le chemin dans le bucket
    file_type character varying(50),
    file_size integer,
    category character varying(50), -- 'contract', 'invoice', 'technical', 'other'
    companyref character varying(50) NOT NULL,
    projectref character varying(50), -- Optionnel (lié à un projet)
    clientref character varying(50),  -- Optionnel (lié à un client)
    uploaded_by character varying(50),
    createdat timestamp without time zone DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT fk_doc_company FOREIGN KEY (companyref) REFERENCES public.company(companyref) ON DELETE CASCADE
);

-------------------------------------------------------------------------------
-- 3. CONTRAINTES DE CLÉS ÉTRANGÈRES (FK)
-------------------------------------------------------------------------------

-- FK pour l'utilisateur vers entreprise et département
ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_company_fkey FOREIGN KEY (companyref) REFERENCES public.company(companyref) ON DELETE SET NULL,
    ADD CONSTRAINT user_dept_fkey FOREIGN KEY (deptref) REFERENCES public.department(deptref) ON DELETE SET NULL;

-- FK pour l'entreprise
ALTER TABLE ONLY public.company
    ADD CONSTRAINT company_owner_fkey FOREIGN KEY (owner_ref) REFERENCES public."user"(userref) ON DELETE CASCADE;

-- FK pour le département
ALTER TABLE ONLY public.department
    ADD CONSTRAINT dept_company_fkey FOREIGN KEY (companyref) REFERENCES public.company(companyref) ON DELETE CASCADE,
    ADD CONSTRAINT dept_manager_fkey FOREIGN KEY (manager_ref) REFERENCES public."user"(userref) ON DELETE SET NULL;

-- FK pour le projet
ALTER TABLE ONLY public.project
    ADD CONSTRAINT project_userref_fkey FOREIGN KEY (userref) REFERENCES public."user"(userref) ON DELETE CASCADE,
    ADD CONSTRAINT project_dept_fkey FOREIGN KEY (deptref) REFERENCES public.department(deptref) ON DELETE SET NULL;

-- FK pour la tâche
ALTER TABLE ONLY public.task
    ADD CONSTRAINT task_projectref_fkey FOREIGN KEY (projectref) REFERENCES public.project(projectref) ON DELETE CASCADE;

-- FK pour l'équipe
ALTER TABLE ONLY public.team
    ADD CONSTRAINT team_projectref_fkey FOREIGN KEY (projectref) REFERENCES public.project(projectref) ON DELETE CASCADE;

-- FK pour le collaborateur
ALTER TABLE ONLY public.collaborator
    ADD CONSTRAINT collaborator_teamref_fkey FOREIGN KEY (teamref) REFERENCES public.team(teamref) ON DELETE CASCADE,
    ADD CONSTRAINT collaborator_userref_fkey FOREIGN KEY (userref) REFERENCES public."user"(userref) ON DELETE CASCADE;

-- FK pour les assignations
ALTER TABLE ONLY public.assignments
    ADD CONSTRAINT assignments_collabref_fkey FOREIGN KEY (collabref) REFERENCES public.collaborator(collabref) ON DELETE CASCADE,
    ADD CONSTRAINT assignments_taskref_fkey FOREIGN KEY (taskref) REFERENCES public.task(taskref) ON DELETE CASCADE,
    ADD CONSTRAINT assignments_userref_fkey FOREIGN KEY (userref) REFERENCES public."user"(userref) ON DELETE CASCADE;

-- FK pour les notifications
ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_userref_fkey FOREIGN KEY (userref) REFERENCES public."user"(userref) ON DELETE CASCADE;

ALTER TABLE public.company ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.department ENABLE ROW LEVEL SECURITY;
ALTER TABLE public."user" ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.project ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.finance_transactions ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.client ENABLE ROW LEVEL SECURITY;
ALTER TABLE public.documents ENABLE ROW LEVEL SECURITY;

-- Lecture : Voir les collègues de la même entreprise
CREATE POLICY "Users can see colleagues" ON public."user"
FOR SELECT USING (
  companyref = (SELECT companyref FROM public."user" WHERE userref = auth.uid()::text)
);

-- Modification : Seul l'utilisateur ou le RH/Owner peut modifier un profil
CREATE POLICY "Users can update own profile or HR can update all" ON public."user"
FOR UPDATE USING (
  auth.uid()::text = userref 
  OR 
  (SELECT privilege FROM public."user" WHERE userref = auth.uid()::text) IN ('owner', 'hr')
);

-- Lecture/Ecriture : Strictement réservé au rôle Owner de la même entreprise
CREATE POLICY "Only owners can manage finance" ON public.finance_transactions
FOR ALL USING (
  companyref = (SELECT companyref FROM public."user" WHERE userref = auth.uid()::text)
  AND
  (SELECT privilege FROM public."user" WHERE userref = auth.uid()::text) = 'owner'
);

-- Lecture des projets
CREATE POLICY "Project visibility based on department" ON public.project
FOR SELECT USING (
  -- L'Owner voit tout dans sa boite
  (SELECT privilege FROM public."user" WHERE userref = auth.uid()::text) = 'owner'
  OR
  -- L'employé voit les projets de son département
  deptref = (SELECT deptref FROM public."user" WHERE userref = auth.uid()::text)
);

-- Politique pour le Storage (à appliquer dans l'onglet Storage > Policies)
-- Permettre la lecture si l'utilisateur appartient à la company du dossier
CREATE POLICY "Give users access to their company folder" ON storage.objects
FOR SELECT USING (
  bucket_id = 'documents' 
  AND 
  (storage.foldername(name))[1] = (SELECT companyref FROM public."user" WHERE userref = auth.uid()::text)
);

-- Fonction qui génère une notification
CREATE OR REPLACE FUNCTION public.create_system_notification()
RETURNS TRIGGER AS $$
BEGIN
    -- Exemple : Alerte si une dépense dépasse 1000€
    IF (NEW.category = 'expense' AND NEW.amount > 1000) THEN
        INSERT INTO public.notifications (notifref, title, content, userref, isread)
        VALUES (
            'NOTIF-' || substr(md5(random()::text), 1, 8),
            'Dépense Importante',
            'Une dépense de ' || NEW.amount || '€ a été enregistrée pour le projet ' || NEW.projectref,
            -- On notifie l'Owner de l'entreprise
            (SELECT owner_ref FROM public.company WHERE companyref = NEW.companyref),
            false
        );
    END IF;
    RETURN NEW;
END;
$$ LANGUAGE plpgsql;

CREATE TRIGGER trigger_finance_alert
AFTER INSERT ON public.finance_transactions
FOR EACH ROW
EXECUTE FUNCTION public.create_system_notification();